@import "tailwindcss";

:root {
    --primary: #0057FF;      /* główny niebieski, np. przyciski, akcenty */
    --secondary: #D1FAE5;    /* zielony tła statusów aktywnych */
    --accent: #1D4ED8;       /* dodatkowy niebieski dla linków/statusów */
    --text: #111827;         /* główny kolor tekstu */
    --background: #F9FAFB;   /* tło aplikacji */

    --shadow-secondary: 0 15px 40px var(--secondary);
    --shadow-primary: 0 15px 40px var(--primary);  
}


body {
    
}